<footer class="footer">
  <small>
    <strong>Swolemates</strong> by <a href="http://jamesreinlein.com">James Reinlein</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", 'mailto:jamesreinlein@gmail.com' %></li>
    </ul>
  </nav>
</footer>
<br>